.ant-form-item {
  margin: 0;
}

.basic-form {
  .ant-form-item {
    height: auto;

    .ant-form-item-row {
      .ant-col {
        width: 100%;
      }

      .ant-form-item-control {
        min-width: 100%;
      }

      .ant-form-item-label {
        text-align: start;
      }
    }
  }

  // .ant-select-dropdown {
  //   border-radius: 6px !important;
  // }
}

.ant-select {
  &:hover {
    .ant-select-selector {
      border-width: 1.5px !important;
      border-color: var(--primary-main) !important;
    }
  }
}

.ant-select-open {
  &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: #ffffff !important;
    border: 1.5px solid #405f2d !important;
  }

  .ant-select-arrow {
    transform: rotate(-180deg);
  }
}

.ant-modal-wrap.ant-modal-wrap {
  // add padding when mobile
  padding: 16px !important;
}

.ant-col.ant-form-item-label {
  padding: 0;
  margin-bottom: 8px;
  text-align: start !important;
  label {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-primary);
    &::after {
      content: '*' !important;
      display: block !important;
      color: var(--error-main);
      visibility: inherit !important;
    }
  }
}
.ant-form-item .ant-form-item-explain-error {
  margin: 8px 0 0 !important;
  color: var(--error-main) !important;
}
.ant-form-item-required {
  &::before {
    display: none !important;
  }
  &::after {
    content: '*' !important;
    display: block !important;
    color: var(--error-main);
  }
}

.ant-radio {
  position: relative;
  box-shadow: none !important;
  width: 24px;
  height: 24px;

  &::after {
    display: none;
  }

  .ant-radio-inner {
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-main) !important;
    box-shadow: none !important;
    position: absolute;

    &::after {
      top: 50%;
      right: 50%;
      width: 50%;
      height: 50%;
      transform: translate(-50%, -50%) !important;
      margin: 0 !important;
    }
  }

  &.ant-radio-checked {
    .ant-radio-inner::after {
      background-color: var(--primary-main) !important;
    }

    .ant-radio-inner {
      background-color: inherit;
    }
  }
}

.form-sign-up {
  .ant-form-item .ant-form-item-explain-error
  {
     display: none;
  }

  .ant-form-item.ant-form-item-has-error {
    .ant-select:hover >.ant-select-selector {
      border: none !important;
    }
  }
}

.ant-form-item.ant-form-item-has-error {
  span.ant-input-affix-wrapper.ant-input-password,
  .ant-form-item-control-input-content > .ant-input,
  .ant-form-item-control-input-content > .ant-input-affix-wrapper,
  .ant-form-item-control-input-content > .ant-select,
  .ant-form-item-control-input-content .ant-radio .ant-radio-inner,
  .input-date {
    border-width: 1.5px !important;
    border-color: var(--error-main) !important;
    border-radius: 10px !important;
  }
}


.ant-modal {
  // appear only center
  transform-origin: center !important;
}

.ant-modal-mask {
  background: rgba(0, 0, 0, 0.5);
}

.ant-modal-content {
  background: #ffffff;
  box-shadow: 0px 6px 34px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  padding: 0;
  .ant-modal-header {
    border-radius: 10px;
    border: none !important;
  }
  .ant-modal-body {
    padding: 0;
  }

  .ant-modal-close.ant-modal-close {
    top: 19px;
    right: 18px;

    .ant-modal-close-x {
      width: initial;
      height: initial;
      line-height: normal;
    }
  }
}

.ant-table-pagination.ant-pagination {
  margin: 3px 0 0;
}
.ant-pagination-jump-prev-custom-icon {
  display: flex;
  align-items: center;
}
.ant-pagination {
  display: flex;
  .ant-pagination-options {
    display: none;
  }
}

.btn-prev,
.btn-next {
  margin: 0 !important;
}

.ant-pagination-item,
.ant-pagination-prev,
.ant-pagination-next {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-pagination-item {
  background-color: transparent;
  border-radius: 50% !important;
  border: none;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  * {
    font-size: 14px;
    color: #3c3c3c !important;
    font-weight: 400;
  }
}
.ant-pagination-item.ant-pagination-item-active {
  background-color: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;
  * {
    color: #ffffff !important;
  }
}

.ant-pagination-jump-next {
  display: flex;
  align-items: center;
  margin: 0 0 0 10px !important;
}


.ant-checkbox-wrapper,
.ant-radio-wrapper {
  align-items: flex-start;

  span p {
    margin: 0 !important;
  }
}

.ant-radio-wrapper {
  margin-right: 10px;
  align-items: center;
  gap: 8px;
}

.ant-radio-wrapper .ant-radio{
  width: 20px;
  height: 20px;
}

.ant-checkbox-indeterminate .ant-checkbox-inner:after{
  content: none !important;
}

.ant-checkbox {
  box-shadow: none !important;

  &::after {
    display: none;
  }
  .ant-checkbox-inner {
    width: 24px;
    height: 24px;
    border: 1.5px solid var(--primary-main) !important;
    border-radius: 6px;
    box-shadow: none !important;

    &::after {
      left: 24.5%;
      width: 6.714286px;
      height: 12.142857px;
    }
  }

  &.ant-checkbox-checked {
    overflow: hidden;
    .ant-checkbox-inner {
      background-color: var(--primary-main) !important;

      &::after{
        top: 16%;
      }
    }
  }
}



.ant-collapse-header {
  flex-direction: row-reverse;
  padding: 0 0 16px !important;
}
.ant-collapse-header-text {
  text-align: left;
}

.ant-collapse-content-box {
  padding: 0;
}
.ant-collapse {
  border: none;

  .ant-collapse-header {
    .ant-collapse-header-text {
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
    }
  }

  .ant-collapse-content {
    border: none;
  }

  .ant-collapse-item {
    border: none;
  }
}

.ant-carousel .slick-dots {
  gap: 8px;
  z-index: 6;
}
.ant-carousel .slick-dots li {
  width: initial !important;
}
.ant-carousel .slick-dots li button {
  opacity: 1;
}
.ant-carousel .slick-dots li button {
  width: 8px !important;
  height: 8px !important;
  background: #d3d3d3;
  border-radius: 50%;
}
.ant-carousel .slick-dots li.slick-active button {
  background: #ee7420;
}

.slick-arrow.slick-disabled {
  cursor: not-allowed;
}

.ant-pagination-options {
  .ant-pagination-options-size-changer {
    .ant-select-selector {
      display: none;
    }
  }
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background: #fff;
  border-radius: 10px;
  padding: 0 12px;
  border: 1px solid #e7e7e7 !important;
  outline: none !important;
  box-shadow: none !important;
}

.ant-select {
  height: 48px !important;
}

.ant-select-arrow {
  transition: transform 200ms;
}

.ant-select-single .ant-select-selector .ant-select-selection-item,
.ant-select-single .ant-select-selector .ant-select-selection-placeholder {
  line-height: 48px;
  font-weight: 400;
  font-size: 14px;
  padding-right: 35px;
  text-align: left;
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
  text-align: left;
}

.ant-select-open {
  &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    background: #ffffff !important;
    border: 1.5px solid #405f2d !important;
  }

  .ant-select-arrow {
    transform: rotate(-180deg);
  }
}

.ant-select-dropdown {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 0 0;
}

.account_modal_popover {
  margin-top: 20px;
  max-width: 360px;
  .ant-popover-content .ant-popover-inner.ant-popover-inner {
    padding: 0 !important;
  }
}

.ant-input-group-wrapper {
  padding: unset !important;
  overflow: hidden;
  &:focus-within {
    border: 1.5px solid var(--primary-main);
    border-color: var(--primary-main);
  }

  input.ant-input {
    border-color: var(--primary-main) !important ;
  }

  .ant-input-wrapper.ant-input-group {
    height: 48px;
    border-radius: 10px;
  }

  .ant-input-group-addon {
    border: unset;
    background-color: var(--primary-100);
    width: auto;
    padding: 0 16px;
    color: var(--primary-main) !important;

    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  input.ant-input {
    height: 46px;
    border-top: unset;
    border-bottom: unset;
    box-shadow: unset;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-primary);
    border-color: var(--primary-300) !important;

    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      border-left: unset;
    }

    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      border-right: unset;
    }

    &::placeholder {
      color: var(--text-disabled);
    }
  }
}

.ant-input-outlined {
  border-width: 1px !important;
}

.ant-input-outlined:hover,
.ant-input-outlined:focus {
  border-width: 1.5px !important;
  border-color: var(--primary-main) !important;
}



.ant-select-item-option-content {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.ant-select-item-option {
  padding: 8px 12px !important;
}

.ant-select-item-option-selected,
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  border-radius: unset !important;
  font-weight: 500 !important;
  background: var(--primary-8) !important;
  .ant-select-item-option-content {
    color: var(--primary-main);
  }
}

.override-ant-select-input {
  .ant-select-single,
  .ant-select-lg,
  .ant-select-outlined {
    height: auto !important;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-width: 1px !important;
    border-color: var(--divider-default) !important;
    min-height: fit-content !important;
    height: auto !important;
    box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, 0.1);
    border-radius: 10px;
    padding: 0;

    &:hover {
      border-width: 1.5px !important;
      border-color: var(--primary-main) !important;
    }

    .ant-select-selection-search,
    .ant-select-selection-placeholder {
      height: fit-content;
      inset-inline-start: 0;
      inset-inline-end: 0;
      line-height: 20px;
      padding: 12px 16px;
      .ant-select-selection-search-input {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        height: fit-content;
      }
    }
  }

  .ant-select-open {
    &.ant-select:not(.ant-select-customize-input) .ant-select-selector {
      background: #ffffff !important;
      border: 1.5px solid var(--primary-main) !important;
    }
  }
}

.ant-table-content table {
  background-color: var(--neutral-50) !important;
}

.ant-table-wrapper table {
  border-spacing: 0 16px;
}

.ant-table-thead {
  tr {
    background-color: var(--neutral-50) !important;
    .ant-table-cell {
      background-color: var(--neutral-50) !important;
      color: var(--neutral-500) !important;
    }
  }
}

.ant-table-tbody {
  tr {
    background-color: #fff !important;
  }
}

.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td,
.ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 8px 16px;
  border-bottom: none;
}

.ant-table-wrapper .ant-table-tbody > tr > td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ant-table-wrapper .ant-table-tbody > tr > td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
  background: #fff;
}

.ant-picker-outlined:hover {
  border: 1.5px solid var(--primary-main);
}

.ant-radio-wrapper span.ant-radio + * {
  padding: 0;
}

.ant-drawer-content-wrapper{
  width: 300px !important;
}

.ant-drawer-content-wrapper .ant-drawer-content .ant-drawer-body{
  padding: 24px 0;
}

.ant-tabs .ant-tabs-tab{
  min-width: 300px;
  justify-content: center;
}

.ant-tabs .ant-tabs-tab .ant-tabs-tab-btn{
  font-size: 18px; 
  font-weight: 600;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
 color: var(--main-color);
}

.ant-tabs .ant-tabs-ink-bar{
  background-color: var(--main-color); 
}

.ant-tabs .ant-tabs-tab:hover{
 color: var(--main-color);
}
.ant-tabs .ant-tabs-tab+.ant-tabs-tab{
  margin: 0;
}

.ant-layout-sider{
  max-width: 280px !important;
  flex: 0 0 280px !important;
}

.ant-layout-sider-trigger{
  width: 280px !important;
}

.ant-layout-sider-collapsed{
  max-width: 80px !important;
  flex: 0 0 80px !important;
}

.ant-layout-sider-collapsed .ant-layout-sider-trigger{
  max-width: 80px !important;
  flex: 0 0 80px !important;
}

.ant-layout .ant-layout-sider-trigger{
  position: relative !important;
  background: none;
}

.ant-layout .ant-layout-sider{
  background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25)) !important;
}

.ant-layout-sider-children{
  overflow-y: scroll;
  padding: 20px 0;

  &::-webkit-scrollbar{
    display: none;
  }
}

.ant-layout-sider-children .ant-menu-light{
  background: none;
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover, .ant-menu-light>.ant-menu:not(.ant-menu-horizontal) {
  background: none;
}

.ant-menu-item .ant-menu-title-content,
.ant-menu-submenu-title .ant-menu-title-content,
.ant-menu-submenu-title .ant-menu-submenu-arrow{
  color: #fff;
}

.ant-menu-light.ant-menu-submenu-popup>.ant-menu{
 background: linear-gradient(195deg, rgb(66, 66, 74), rgb(25, 25, 25)) !important;
}

.ant-menu-light.ant-menu-root.ant-menu-inline{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ant-menu-light.ant-menu-submenu-popup>.ant-menu::-webkit-scrollbar {
  display: none !important;
}


.ant-table-content table {
  background-color: #fff !important;
}

.ant-table-wrapper table {
  border-spacing: 0 16px;
}

.ant-table-thead {
  tr {
    background-color: #fff !important;
    .ant-table-cell {
      background-color: #fff !important;
      color: var(--neutral-500) !important;
      text-transform: uppercase;

      &::before{
        content: none !important;
      }
    }
  }
}

.ant-table-tbody {
  tr {
    background-color: var(--neutral-50) !important;
    height: 60px !important;
    .ant-table-cell {
      font-size: 16px;
      color: var(--neutral-900) !important;
      vertical-align: middle;
    }
  }
}

.ant-table-wrapper .ant-table-thead > tr > th,
.ant-table-wrapper .ant-table-thead > tr > td,
.ant-table-wrapper .ant-table-tbody > tr > td {
  padding: 8px 16px;
  border-bottom: none;
}

.ant-table-wrapper .ant-table-thead > tr > th:last-child{
  text-align: right;
}

.ant-table-wrapper .ant-table-tbody .ant-table-row > .ant-table-cell {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}

.ant-table-wrapper .ant-table-tbody .ant-table-row > .ant-table-cell-row-hover {
  border-top: 1px solid var(--primary-main);
  border-bottom: 1px solid var(--primary-main);
  cursor: pointer;
}

.ant-table-wrapper .ant-table-tbody > tr > .ant-table-cell-row-hover:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1px solid var(--primary-main);
}

.ant-table-wrapper .ant-table-tbody > tr > .ant-table-cell-row-hover:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 1px solid var(--primary-main);
}

.ant-table-wrapper .ant-table-tbody > tr > td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1px solid transparent;
}

.ant-table-wrapper .ant-table-tbody > tr > td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 1px solid transparent;
}

.ant-table-wrapper .ant-table-pagination-right{
  justify-content: center;
}

.ant-menu-light .ant-menu-item-selected{
  background-color: #66bb6a !important;
}

.ant-result .ant-result-title{
  font-size: 20px !important;
}

.ant-table-wrapper .ant-table-tbody >tr.ant-table-placeholder{
    background-color: white !important;
}

.ant-col .ant-form-item-row{
  flex-direction: column !important;
}

.ant-input-number-outlined,
.ant-input-number-group-wrapper-outlined .ant-input-number-group-addon{
  border: none !important;
}

.ant-input-number-wrapper,
.ant-input-number-input-wrap,
.ant-input-number .ant-input-number-input{
  height: 100% !important;
}

.ant-input-number-group-wrapper-outlined .ant-input-number-group-addon{
  background-color: #e3efd8;
  border-left:1px solid var(--primary-300) !important;
}

.ant-image-preview-root .ant-image-preview-img{
  width: 700px !important;
}